<div class="span-12" id="mobile-splash-top">
  <h1>Travelling? Awesome.</h1>
  <h2>Where to first?...</h2>
</div>

<div class="span-12">
  <div class="effect1" id="search-box">
    <div id="search-textbox">
      <form action="">
        <input id="autocomplete" type="text">
        <div id="search-orange" onclick="loc_add_btn_press()"></div>
      </form>
    </div>
  </div>
</div>

<div class="span-12 effect1" id="mobile-content-container">
  <ul>
  </ul>
</div>

<div id="mobile-footer">
  <div id="mobile-content-button">DONE</div>
</div>

<script>

  // var contructed_location = $.ajax({
  //   url: "/api/location",
  //   type: "POST",
  //   data: {
  //     latitude: 31,
  //     longitude: 22,
  //     street_number: 6,
  //     route: "test",
  //     locality: "test",
  //     admin_area: "test",
  //     country: "test",
  //     post_code: "test",
  //     full_address: "test",
  //     place_id: 477
  //   },
  //   success: function(data, textStatus, jqXHR) {
  //     console.log(data);
  //   }
  // });

</script>
