<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello World</title>
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Oswald|Francois+One|Nunito|Special+Elite' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/css/reset.css'>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel='stylesheet' href='/css/main.css'>
  <link rel="stylesheet" href="/css/dynamic-header.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="/js/places.js"></script>
  <script type="text/javascript" src="/js/splash.js"></script>
</head>
<body>

  <%= yield %>

</body>
