<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello World</title>
  <link rel='stylesheet' href='/css/reset.css'>
  <link rel='stylesheet' href='/css/main.css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/places.js"></script>
  <script type="text/javascript" src="/js/splash.js"></script>
</head>
<body>

  <%= yield %>

</body>
